body {
  background: #6b7577;
  background: -moz-linear-gradient(-45deg, #6b7577 0%, #37474f 100%);
  background: -webkit-linear-gradient(-45deg, #6b7577 0%, #37474f 100%);
  background: linear-gradient(135deg, #6b7577 0%, #37474f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#6b7577", endColorstr="#37474f",GradientType=1 );
  min-height: 100vh;
}

main {
  background-color: #transparent;
  border-radius: 16px;
  margin-top: 64px;
}

.table-wrapper {
  overflow-x: scroll;
}

h2 {
  color: #fff;
}

.text-link-light {
  color: #fff;
  opacity: 0.5;
  transition: all 0.25s;
}
.text-link-light:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

.table {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.85);
}
.table th, .table td {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.table a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

.month-summary h3 {
  font-size: 24px;
  color: #fff;
}
.month-summary h3 .total-hours-figure {
  font-size: 32px;
  font-weight: lighter;
  color: #4CAF50;
}
.month-summary h3 .total-hours-label {
  font-size: 16px;
  color: #a9a9a9;
  font-weight: normal;
}

.timesheet-card {
  margin-top: 24px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.timesheet-card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
  position: relative;
}
.timesheet-card .card-footer {
  background-color: #fff;
  border: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.timesheet-card .card-footer h3 {
  color: #37474F;
}

.project-card {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  margin-bottom: 64px;
}
.project-card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
  position: relative;
}
.project-card hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.card-droprown {
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-droprown a {
  color: #fff;
  font-size: 24px;
}
.card-droprown .dropdown-menu {
  background-color: #37474F;
  border: none;
  border-radius: 8px;
}
.card-droprown .dropdown-menu .dropdown-item {
  font-size: 20px;
}
.card-droprown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #009ed0;
}
.card-droprown .dropdown-menu.show {
  right: 0;
  left: unset !important;
}

footer {
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
}
footer img {
  float: right;
  margin: 24px;
  max-width: 128px;
}

.main-page-heading {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 200;
}

.main-page-subheading {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.main-page-select-month {
  display: inline;
  font-weight: 200;
}

.select-month-dropdown {
  display: inline;
}
.select-month-dropdown .dropdown-menu {
  background-color: #37474F;
  color: #fff;
  font-size: 24px;
  border-radius: 8px;
}
.select-month-dropdown .dropdown-menu a {
  color: #fff;
}
.select-month-dropdown .dropdown-menu a:hover {
  background-color: transparent;
  color: #009ed0;
}

.in-text-dropdown {
  background-color: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.in-text-dropdown:hover {
  text-decoration: none;
  color: #fff;
}

.custom-side-list a {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px !important;
  text-align: center;
  font-size: 16px;
}
.custom-side-list a.active {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  color: #37474F;
}
.custom-side-list a:last-child {
  border-bottom: none;
  padding: 16px 0px;
}
.custom-side-list a:last-child i {
  color: #fff;
  font-size: 24px;
}
.custom-side-list a:last-child:hover {
  background-color: transparent;
}
.custom-side-list a:last-child:active {
  background-color: transparent;
}
.custom-side-list a:last-child:focus {
  background-color: transparent;
  outline: none;
}

.card-subheading {
  font-size: 18px;
}

.table-hover-light tbody tr:hover {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
